/* OAUTH */

.oauth-button{

width:100%;

padding:
16px 20px;

margin-top:14px;

border:none;

border-radius:20px;

background:
rgba(255,255,255,0.04);

border:
1px solid rgba(255,255,255,0.08);

color:white;

font-size:1rem;

font-family:'Orbitron',sans-serif;

cursor:pointer;

transition:0.25s;

display:flex;

justify-content:center;
align-items:center;

gap:12px;
}

.oauth-button:hover{

transform:
translateY(-2px);

border-color:#00ff99;

box-shadow:
0 0 25px rgba(0,255,153,0.14);
}

.google-button:hover{

background:
rgba(0,255,153,0.08);
}

.discord-button{

opacity:0.7;

cursor:not-allowed;
}

/* POPUP */

.zos-popup{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:
rgba(0,0,0,0.7);

display:flex;

justify-content:center;
align-items:center;

z-index:99999;

backdrop-filter:
blur(10px);
}

.zos-popup-card{

width:min(90%,420px);

background:#050805;

border:
1px solid rgba(0,255,153,0.18);

border-radius:28px;

padding:32px;

text-align:center;

box-shadow:
0 0 50px rgba(0,255,153,0.16);
}

.zos-popup-card h2{

color:#00ff99;

margin-bottom:14px;
}

.zos-popup-card p{

color:#bdbdbd;

line-height:1.6;

margin-bottom:24px;
}

.zos-popup-card button{

padding:
14px 24px;

border:none;

border-radius:18px;

background:#00ff99;

color:black;

font-family:'Orbitron',sans-serif;

cursor:pointer;
}