/* HERO */

.hero{
padding:120px 7vw 80px;
}

.section-eyebrow{
color:#00ff99;
letter-spacing:10px;
font-size:0.85rem;
margin-bottom:22px;
}

.hero-title{
font-size:clamp(4rem,14vw,8rem);
line-height:1.05;
margin-bottom:28px;
}

.hero-description{
font-size:1.2rem;
line-height:1.8;
max-width:850px;
color:#d0d0d0;
margin-bottom:50px;
}

.hero-buttons{
display:flex;
flex-wrap:wrap;
gap:20px;
}

/* WHAT IS ZOS */

.what-is-zos{
margin:0 7vw 100px;
padding:40px;
}

.what-is-zos h2{
font-size:2.5rem;
margin-bottom:20px;
color:#00ff99;
}

.what-is-zos p{
line-height:1.9;
font-size:1.1rem;
color:#d0d0d0;
margin-bottom:20px;
}

/* RUNTIME SHELL */

.runtime-shell{
margin:0 7vw 100px;
padding:40px;
}

.shell-dots{
display:flex;
gap:12px;
margin-bottom:24px;
}

.shell-dots span{
width:18px;
height:18px;
border-radius:50%;
background:#00ff99;
box-shadow:0 0 15px rgba(0,255,153,0.7);
}

.runtime-shell h2{
font-size:2rem;
color:#00ff99;
margin-bottom:24px;
}

#shell-text{
line-height:2;
font-size:1rem;
white-space:pre-wrap;
color:#d0d0d0;
min-height:220px;
}

/* MOBILE */

@media(max-width:768px){

.hero{
padding-top:90px;
}

.hero-buttons{
flex-direction:column;
}

.hero-title{
font-size:4rem;
}

.what-is-zos,
.runtime-shell{
margin-left:5vw;
margin-right:5vw;
padding:28px;
}

}